*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #ff9900;
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 0 100px;
    width: 100%;
    height: 60px;
    .wrap{
        margin: 0 100px;
        height: 100%;
        width: 100%;
    }  
    .element{
        width: 120px;
        height: 100%;
    }
    .logo{

    }
    .hat{
        display: flex;
        top: 0;
        width: 100%;
        justify-content: space-between;
        
    }
}